#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

#fr-Upload .input-group-append label {
    cursor: pointer;
}

form#primaryPostForm {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 3rem;
}

form#primaryPostForm .content-images-preview ul,
form#editReportForm .content-images-preview ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

form#primaryPostForm .content-images-preview li,
form#editReportForm .content-images-preview li {
    width: 60px;
    height: 60px;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

form#primaryPostForm .content-images-preview img,
form#editReportForm .content-images-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#toggle-fr-form.form-is-active {
    background-color: #db383b !important;
    border-color: #db383b !important;
}

#toggle-fr-form.form-is-active:hover {
    background-color: #c82427 !important;
    border-color: #be2225 !important;
}

#fr-content .nav-link {
    color: #4a586e;
    background-color: transparent;
}

#fr-content .nav-link.active {
    color: #518ff7;
    cursor: auto;
}

.card-body .fr-action-wrap {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    justify-content: end;
    opacity: 0;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    z-index: 2;
}

.card-body:hover .fr-action-wrap{
    opacity: 1;
}

.card-body .fr-action-wrap span {
    height: 2.3rem;
    justify-content: center;
    align-items: center;
    width: 2.3rem;
    display: flex;
    margin-left: 0.4rem;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
    border: 1px solid rgb(239 239 239 / 75%);
    background-color: rgba(255,255,255, 0.75);
}

.card-body .fr-action-wrap span:first-child:hover {
    border-color: #518ff7;
    background-color: #518ff7;
    color: white;
}

.card-body .fr-action-wrap span:last-child:hover {
    border-color: #db383b;
    background-color: #db383b;
    color:  white;
}

.card-body > .fr-d-grid {    
    margin-bottom: 1rem;
}

.fr-d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px;
    column-gap: 2px;
    row-gap: 2px;
}

.img-thumb-wrap .img-thumbnail {
    height: 80px;
    object-fit: cover;
    width: 100%;
    padding: 0;
}

.img-thumb-wrap.fr-link {
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    display: flex;
    font-size: 2rem;
}

.fr-link a {
    text-decoration: none !important;    
}